@import url('https://fonts.googleapis.com/css?family=Inter');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--primary: theme(colors.tbrown.300);
	--secondary: theme(colors.tbrown.500);
	--background: theme(colors.tbrown.900);
}

body {
	font-family: Inter, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: var(--background);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1rem;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 1rem;
	border: 0.25rem solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}
